# ======================
# ENTORNO VIRTUAL
# ======================
venv/

# ======================
# PYTHON
# ======================
__pycache__/
*.pyc

# ======================
# DJANGO
# ======================
db.sqlite3
media/
staticfiles/

# ======================
# VARIABLES DE ENTORNO
# ======================
.env
