# ======================
# ENTORNO VIRTUAL
# ======================
venv/

# ======================
# PYTHON
# ======================
__pycache__/
*.pyc

# ======================
# DJANGO
# ======================
media/
staticfiles/

# ======================
# VARIABLES DE ENTORNO
# ======================
.env

# ======================
# FRONTEND (REACT / VITE)
# ======================
node_modules/
.vite/
dist/