{% load static %}
<section id="products" class="bg-beige-dark">
    <div class="container box-flex direction-column pad-top-700">
        <h2 class="gap-bottom-700 gap-top-700">Nuestros productos destacados</h2>
        <div class="products-grid box-grid bg-border">
            <!--Tarjetas producto-->
            
            <div class="product-card box-flex direction-column items">
                <img src="{% static 'media/hamburguesa.jpg ' %}" alt="">
                <div class="card-text">
                        <h3 class="product-name">Hamburguesa de angus</h3>
                        <h4>10,99€</h4>
                        <p class="product-description">Descripción del producto</p>
                        <div class="product-foot box-flex justify-between gap-top-400 gap-300">
                            <span>Saber más</span>
                            <button class="add-to-cart gap-right-300 btn btn-primary" type="button">Añadir</button>
                        </div>
                </div>
            </div>

            <div class="product-card box-flex direction-column items">
                <img src="{% static 'media/hamburguesa.jpg ' %}" alt="">
                <div class="card-text">
                        <h3 class="product-name">Hamburguesa de angus</h3>
                        <h4>10,99€</h4>
                        <p class="product-description">Descripción del producto</p>
                        <div class="product-foot box-flex justify-between gap-top-400 gap-300">
                            <span>Saber más</span>
                            <button class="add-to-cart gap-right-300 btn btn-primary" type="button">Añadir</button>
                        </div>
                </div>
            </div>

            <div class="product-card box-flex direction-column items">
                <img src="{% static 'media/hamburguesa.jpg ' %}" alt="">
                <div class="card-text">
                        <h3 class="product-name">Hamburguesa de angus</h3>
                        <h4>10,99€</h4>
                        <p class="product-description">Descripción del producto</p>
                        <div class="product-foot box-flex justify-between gap-top-400 gap-300">
                            <span>Saber más</span>
                            <button class="add-to-cart gap-right-300 btn btn-primary" type="button">Añadir</button>
                        </div>
                </div>
            </div>

            <div class="product-card box-flex direction-column items">
                <img src="{% static 'media/hamburguesa.jpg ' %}" alt="">
                <div class="card-text">
                        <h3 class="product-name">Hamburguesa de angus</h3>
                        <h4>10,99€</h4>
                        <p class="product-description">Descripción del producto</p>
                        <div class="product-foot box-flex justify-between gap-top-400 gap-300">
                            <span>Saber más</span>
                            <button class="add-to-cart gap-right-300 btn btn-primary" type="button">Añadir</button>
                        </div>
                </div>
            </div>

            <div class="product-card box-flex direction-column items">
                <img src="{% static 'media/hamburguesa.jpg ' %}" alt="">
                <div class="card-text">
                        <h3 class="product-name">Hamburguesa de angus</h3>
                        <h4>10,99€</h4>
                        <p class="product-description">Descripción del producto</p>
                        <div class="product-foot box-flex justify-between gap-top-400 gap-300">
                            <span>Saber más</span>
                            <button class="add-to-cart gap-right-300 btn btn-primary" type="button">Añadir</button>
                        </div>
                </div>
            </div>

            <div class="product-card box-flex direction-column items">
                <img src="{% static 'media/hamburguesa.jpg ' %}" alt="">
                <div class="card-text">
                        <h3 class="product-name">Hamburguesa de angus</h3>
                        <h4>10,99€</h4>
                        <p class="product-description">Descripción del producto</p>
                        <div class="product-foot box-flex justify-between gap-top-400 gap-300">
                            <span>Saber más</span>
                            <button class="add-to-cart gap-right-300 btn btn-primary" type="button">Añadir</button>
                        </div>
                </div>
            </div>

            <div class="product-card box-flex direction-column items">
                <img src="{% static 'media/hamburguesa.jpg ' %}" alt="">
                <div class="card-text">
                        <h3 class="product-name">Hamburguesa de angus</h3>
                        <h4>10,99€</h4>
                        <p class="product-description">Descripción del producto</p>
                        <div class="product-foot box-flex justify-between gap-top-400 gap-300">
                            <span>Saber más</span>
                            <button class="add-to-cart gap-right-300 btn btn-primary" type="button">Añadir</button>
                        </div>
                </div>
            </div>

            <div class="product-card box-flex direction-column items">
                <img src="{% static 'media/hamburguesa.jpg ' %}" alt="">
                <div class="card-text">
                        <h3 class="product-name">Hamburguesa de angus</h3>
                        <h4>10,99€</h4>
                        <p class="product-description">Descripción del producto</p>
                        <div class="product-foot box-flex justify-between gap-top-400 gap-300">
                            <span>Saber más</span>
                            <button class="add-to-cart gap-right-300 btn btn-primary" type="button">Añadir</button>
                        </div>
                </div>
            </div>

            <div class="product-card box-flex direction-column items">
                <img src="{% static 'media/hamburguesa.jpg ' %}" alt="">
                <div class="card-text">
                        <h3 class="product-name">Hamburguesa de angus</h3>
                        <h4>10,99€</h4>
                        <p class="product-description">Lorem30</p>
                        <div class="product-foot box-flex justify-between gap-top-400 gap-300">
                            <span>Saber más</span>
                            <button class="add-to-cart gap-right-300 btn btn-primary" type="button">Añadir</button>
                        </div>
                </div>
            </div>

            <div class="product-card box-flex direction-column items">
                <img src="{% static 'media/hamburguesa.jpg ' %}" alt="">
                <div class="card-text">
                        <h3 class="product-name">Hamburguesa de angus</h3>
                        <h4>10,99€</h4>
                        <p class="product-description">Descripción del producto</p>
                        <div class="product-foot box-flex justify-between gap-top-400 gap-300">
                            <span>Saber más</span>
                            <button class="add-to-cart gap-right-300 btn btn-primary" type="button">Añadir</button>
                        </div>
                </div>
            </div>

            <div class="product-card box-flex direction-column items">
                <img src="{% static 'media/hamburguesa.jpg ' %}" alt="">
                <div class="card-text">
                        <h3 class="product-name">Hamburguesa de angus</h3>
                        <h4>10,99€</h4>
                        <p class="product-description">Descripción del producto</p>
                        <div class="product-foot box-flex justify-between gap-top-400 gap-300">
                            <span>Saber más</span>
                            <button class="add-to-cart gap-right-300 btn btn-primary" type="button">Añadir</button>
                        </div>
                </div>
            </div>

            <div class="product-card box-flex direction-column items">
                <img src="{% static 'media/hamburguesa.jpg ' %}" alt="">
                <div class="card-text">
                        <h3 class="product-name">Hamburguesa de angus</h3>
                        <h4>10,99€</h4>
                        <p class="product-description">Descripción del producto</p>
                        <div class="product-foot box-flex justify-between gap-top-400 gap-300">
                            <span>Saber más</span>
                            <button class="add-to-cart gap-right-300 btn btn-primary" type="button">Añadir</button>
                        </div>
                </div>
            </div>

            
            
        </div>
    </div>
</section>