
{% load static %}
<section id="prominent">
    <div class="container prominent-container box-grid items-center justify-center gap-700 ">
        <div class="prom-info box-flex direction-column justify-around bg-beige-dark pad-900">
            <div class="prom-text">
                <h2 class="gap-bottom-400 size3 ">¡OFERTA!</h2>
                <p class="lh14 size1">
                    <bold>Solo esta semana</bold>, disfruta de nuestro <bold>Menú
                        Burger Premium</bold> a un precio especial. La calidad de siempre, con el sabor ahumado
                    que tanto te gusta. No te conformes
                    con menos, cómete el mundo con nosotros.
                </p>
            </div>
            <h2 class="size3">12,99€</h2>
            <div class="prom-btns">
                <button class="cta btn">COMPRAR</button>
                <button class="btn">Saber más</button>
            </div>
        </div>
        <div class="prom-img box-flex justify-center">
            <img src="{% static 'media/hamburguesa.jpg' %}" alt="">
        </div>
    </div>
</section>