<aside class="profile-sidebar bg-white pad-600">
    <h3 class="gap-bottom-600 color-dark">Mi Cuenta</h3>
    <nav>
        <ul>
            <li class="gap-bottom-400">
                <a href="{% url 'users:profile_data' %}"
                    class="color-dark text-decoration-none box-flex items-center gap-300">
                    Mis datos
                </a>
            </li>

            <li class="gap-bottom-400">
                <a href="{% url 'users:products_catalog' %}"
                    class="color-dark text-decoration-none box-flex items-center gap-300">
                    Productos
                </a>
            </li>

            <li class="gap-bottom-400">
                <a href="{% url 'users:tracking' %}"
                    class="color-dark text-decoration-none box-flex items-center gap-300">
                    Seguimiento de pedido
                </a>
            </li>
            <li class="gap-bottom-400">
                <a href="{% url 'users:orders_history' %}"
                    class="color-dark text-decoration-none box-flex items-center gap-300">
                    Historial de pedidos
                </a>
            </li>
            <li class="gap-bottom-400">
                <a href="{% url 'users:suggestions' %}"
                    class="color-dark text-decoration-none box-flex items-center gap-300">
                    Sugerencias
                </a>
            </li>
        </ul>
    </nav>
</aside>