
<aside class="sidebar bg-dark pad-400" style="width: 250px; color: white;">
    <nav class="box-flex flex-column gap-300">
        <a href="{% url 'users:profile_data' %}" class="nav-link">Mis datos</a>
        <a href="{% url 'users:tracking' %}" class="nav-link">Pedido</a>
        <a href="{% url 'users:products_catalog' %}" class="nav-link">Productos</a>
        <a href="{% url 'users:orders_history' %}" class="nav-link">Historial de pedidos</a>
        <a href="{% url 'users:suggestions' %}" class="nav-link">Sugerencias</a>
    </nav>
</aside>
>
