{% url 'users:user_data' as profile_data_url %}
{% url 'users:products_catalog' as products_catalog_url %}
{% url 'users:tracking' as tracking_url %}
{% url 'users:orders_history' as orders_history_url %}
{% url 'users:suggestions' as suggestions_url %}

<aside class="sidebar bg-white pad-600 box-flex direction-column items-stretch width-quarter">
    <h3 class="gap-bottom-600 color-dark">Mi Cuenta</h3>
    <nav>
        <ul class="list-none pad-0">
            <li class="gap-bottom-300">
                <a href="{{ profile_data_url }}"
                    class="sidebar-link color-dark text-decoration-none box-flex items-center gap-300 {% if request.path == profile_data_url %}active{% endif %}">
                    <i class="fa-solid fa-address-card sidebar-icon"></i>
                    <span>Mis datos</span>
                </a>
            </li>

            <li class="gap-bottom-300">
                <a href="{{ products_catalog_url }}"
                    class="sidebar-link color-dark text-decoration-none box-flex items-center gap-300 {% if request.path == products_catalog_url %}active{% endif %}">
                    <i class="fa-solid fa-store sidebar-icon"></i>
                    <span>Productos</span>
                </a>
            </li>

            <li class="gap-bottom-300">
                <a href="{{ tracking_url }}"
                    class="sidebar-link color-dark text-decoration-none box-flex items-center gap-300 {% if request.path == tracking_url %}active{% endif %}">
                    <i class="fa-solid fa-truck-ramp-box sidebar-icon"></i>
                    <span>Seguimiento de pedido</span>
                </a>
            </li>
            <li class="gap-bottom-300">
                <a href="{{ orders_history_url }}"
                    class="sidebar-link color-dark text-decoration-none box-flex items-center gap-300 {% if request.path == orders_history_url %}active{% endif %}">
                    <i class="fa-solid fa-clock-rotate-left sidebar-icon"></i>
                    <span>Historial de pedidos</span>
                </a>
            </li>
            <li class="gap-bottom-300">
                <a href="{{ suggestions_url }}"
                    class="sidebar-link color-dark text-decoration-none box-flex items-center gap-300 {% if request.path == suggestions_url %}active{% endif %}">
                    <i class="fa-solid fa-comments sidebar-icon"></i>
                    <span>Sugerencias</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>