{% extends 'dashboard_base.html' %}
{% load static %}

{% block content %}
<div class="dashboard-layout box-flex" style="min-height: calc(100vh - 5rem);">
    {% include 'dashboard/includes/sidebar_menu.html' %}

    <!-- Contenido Principal -->
    <div class="dashboard-main container pad-700 width-full" style="overflow-y: auto; max-height: calc(100vh - 5rem);">

        {% include 'dashboard/includes/menu_availability_section.html' %}
        {% include 'dashboard/includes/products_section.html' %}
        {% include 'dashboard/includes/categories_section.html' %}
        {% include 'dashboard/includes/allergens_section.html' %}
        {% include 'dashboard/includes/employees_section.html' %}
        {% include 'dashboard/includes/recent_orders.html' %}


    </div>
</div>

{% endblock content %}