{% load static %}
<section id="recent-orders" class="gap-bottom-900">
            <div class="box-flex justify-between items-center gap-bottom-500">
                <h2>Lista de pedidos</h2>
                <a href="{% url 'dashboard:orders_dashboard' %}" class="btn btn-secondary text-decoration-none">Ver Activos</a>
            </div>

            <div class="bg-white border-radius-md box-shadow pad-400" style="overflow-x: auto;">
                <table class="width-full text-left align-middle">
                    <thead class="border-bottom">
                        <tr>
                            <th class="pad-300 text-left">ID Pedido</th>
                            <th class="pad-300 text-left">Cliente</th>
                            <th class="pad-300 text-left">Tipo Entrega</th>
                            <th class="pad-300 text-left">Total</th>
                            <th class="pad-300 text-left">Estado Pago</th>
                            <th class="pad-300 text-left">Fecha</th>
                        </tr>
                    </thead>
                    <tbody id="api-orders-tbody" data-url="{% url 'orders:orders-list' %}">
                        <!-- Se cargará desde la API -->
                    </tbody>
                </table>
            </div>
        </section>

<script src="{% static 'js/fetch-products.js' %}"></script>